*{
    margin: 0px;
    padding: 0px;
}
.import,.export{
    width: max-content;
    margin: auto;
}
.export,.import h1{
    color: green;
    text-align: center;
}
.export,.import label{
    margin-top: 40px;
}
.export button{
    border-radius: 6px;
    color: white;
    background-color: green;
    border: none;
    width: max-content;
    margin: auto;
    padding: 20px;
    padding-left: 15px;
    padding-right: 15px;
}
.export button:hover{
    background-color: darkgreen;
    cursor: pointer;
}
.export button:active{
    transform: translate(0px,20px);
}